@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-['Quicksand'] mx-[20px] md:mx-[120px] my-[30px] text-[#777777] font-medium;
}

.brand {
  @apply text-purple font-black text-[40px] pb-4;
}

h2 {
  @apply text-[black] font-bold text-[35px];
}

h3 {
  @apply text-[black] font-bold text-[25px];
}

h4 {
  @apply text-[black] font-bold text-[20px];
}

/* Button Style*/
.btn {
  @apply font-semibold py-2 px-4 rounded-xl md:text-2xl md:px-6 md:py-4 uppercase;
}
.btn-orange {
  @apply bg-purple text-white;
}
.btn-orange:hover {
  @apply bg-myPurpleHover;
}
.btn-purple {
  @apply bg-myDarkPurple text-white;
}
.lds-dual-ring {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 32px;
  height: 32px;
  margin: 4px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hidden {
  animation: 1s linear 4s 1 forwards;
}

@keyframes hide {
  to {
    opacity: 0;
  }
}
